.login-container {
  max-width: 600px;
  margin: 10px auto;
  padding: 20px 10%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* .login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f3f8ff;
  border-radius: 10px;
  border: 1px solid #3f3f3f;
} */
.login-title {
  text-align: center;
  margin-bottom: 20px;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.login-form input[type="submit"] {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.login-form input[type="submit"]:hover {
  background-color: #0056b3;
}
.login-form-user {
  width: 100%
}
.login-form-pass {
  width: 100%
}